### Data in Hand
Drew Baltzer 
11/30/21

In [1]:
import pandas as pd 
import openpyxl
from matplotlib import pyplot as plt
from scipy import stats
from pandas import DataFrame

In [ ]:
ls

### The Data
I found excel spreadsheets online that display Steam data from August 2020 that covers hundrends of game's developers, prices, users, languages, genres and release dates. I am hoping that with the use of these spreadsheets I can form an analysis that may be able to connect some of the topics supplied by the data. Such as analyzing if larger free to play titles hold a larger player base than pay to play titles. The .xlsx format is being used here due to issues with the .csv format.

In [7]:
game_devs = pd.read_excel('applicationDevelopers.xlsx')
game_info = pd.read_excel('applicationInformation.xlsx')
#game_pub = pd.read_csv(r"C:\Users\Drew\EMATFA21\applicationPublishers.csv", encoding = 'latin-1', header = None)

### Other Data
There are other files available that are not being displayed in this notebook such as the PlayerCountHistory data because I will only be using those files when needed since they contain hundreds of individual excel files.

In [3]:
game_devs.head()

,578080,PUBG Corporation,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,570,Valve,NaN,NaN,NaN,NaN,NaN,NaN
1,730,Valve,Hidden Path Entertainment,NaN,NaN,NaN,NaN,NaN
2,622590,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,359550,Ubisoft Montreal,NaN,NaN,NaN,NaN,NaN,NaN
4,271590,Rockstar North,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
game_info.head()

,appid,type,name,releasedate,freetoplay
0,578080,game,PLAYERUNKNOWN'S BATTLEGROUNDS,2017-12-21,0.0
1,570,game,Dota 2,2013-07-09,1.0
2,730,game,Counter-Strike: Global Offensive,2012-08-21,1.0
3,622590,NaN,PLAYERUNKNOWN'S BATTLEGROUNDS (Test Server),NaT,NaN
4,359550,game,Tom Clancy's Rainbow Six Siege,2015-12-01,0.0